:root{
    --bg1-color:#112055
    --bg2-color:#4f9d92
    --text-color:#fff
}
%box-shared{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 4px 3px 19px 0px rgba(0,0,0,0.3); 
}

.box-primary {
  @extend %box-shared;
  background-color: var(--bg1-color);
  color: var(--text-color);
}

.box-primary-lighter {
@extend %box-shared;
}

.box-primary-darker {
 @extend %box-shared;
}

.box-secondary {
@extend %box-shared;
  background-color: var(--bg2-color);
}